@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="card">
            <div class="card-body">
                <form action="@Url.Action("Create", "Student")" method="POST">
                    <div class="mb-3">
                        <label for="Nim">NIM</label>
                        <input class="form-control" id="Nim" name="Nim" required autofocus autocomplete="off" maxlength="9" />
                    </div>

                    <div class="mb-3">
                        <label for="Name">NAMA</label>
                        <input class="form-control" id="Name" name="Name" required autocomplete="off" maxlength="50" />
                    </div>

                    <div class="mb-3">
                        <label for="Jk">JK</label>
                        <select class="form-control" name="Jk" id="Jk" required>
                            <option selected>-- Pilih Jenis Kelamin --</option>
                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="Id_jurusan">JURUSAN</label>
                        <select class="form-control" name="Id_jurusan" id="Id_jurusan" required>
                            <option selected>-- Pilih Jurusan --</option>
                        </select>
                    </div>

                    <div>
                        <a href="@Url.Action("Index", "Student")" class="btn btn-danger mx-2">Kembali</a>
                        <button type="submit" class="btn btn-success">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    @*let makanan = @Html.Raw(Json.Encode(ViewBag.jurusanList));
    console.log(makanan);*@

    // Select element
    //var listJurusan = document.getElementById("Id_jurusan");

    // Iterate over the JSON data
    //for (let key in makanan) {
    //    if (makanan.hasOwnProperty(key)) {
    //        var option   = document.createElement("option");
    //        option.value = makanan[key].Value;
    //        option.text  = makanan[key].Text;
    //        listJurusan.appendChild(option);
    //    }
    //}
</script>

